body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F1E8;
  color: #050533;
}

section {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}