body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F1E8;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  
  color: #050533;
}

html {
  scroll-behavior: smooth;
}

section {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; 

}

section.skills {
  
  display: grid;
  align-items: initial;
  justify-content: initial;
  width: 80vw;
  
}

section.nutri-kit-project {
  align-items: flex-start;
  flex-direction: row;
  min-height: 400px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

hr {
  border: 1px solid #F2F1E8;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 50px;
  margin-top: 0px;
}

hr.content-divider {
  border: 2px solid #0D698B;
  margin-left: 0px;
  
  width: 300px;
}
 
a {
  color: #0077b6;
}

a.contact-me {
  margin-top: 3rem;
}

a:visited {
  color: #350f49;
}

a.nav-element {
  color: #F2F1E8;
  text-decoration: none;
}

a:hover {
  color: #E34234;
}

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
}





h0 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #0D698B;
  margin-bottom: 2rem;
}

img {
  width: 80%;
  height: 80%;
}

img.socials {
  width: 30px;
  height: 30px;
  margin-top: 2rem;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;

}

li {
  margin-right: 20px;
  display: inline-block;
}

li.nav-element {
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  color: #F2F1E8
}

.web-checkers {
  aspect-ratio: 1280/744;
  margin-bottom: 20px;
  width: 80vw;
}


.nutri-kit {
  aspect-ratio: 750/1624;
  background-image: url('/assets/recording.gif');
  background-size: cover;
  height: 90vh;
}

.svg-background {
  aspect-ratio: 900/600;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-background {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash {
  background-image: url('/assets/splash-waves.svg');
  height: 100vh;
}

.divider-top {
  background-image: url('/assets/top-divider-waves.svg');
}

.divider-bot {
  background-image: url('/assets/bot-divider-waves.svg');
}

.blob-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  z-index: 1;
  
}

.blob-title:before {
  content: "";
  background:  url('assets/small-blob.svg'), url('assets/big-blob.svg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  width: 600px;
  height: 600px;
  z-index: -1;
}

.title-text {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.02em;
  text-align: center;

  color: #F2F1E8;

}

.subtitle-text {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #E34234;
}



.menu-icon {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("assets/menu-icon.svg");
  width: 40px;
  height: 40px;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  aspect-ratio: 1;
  
}



.nav {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 240px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0D698B;
  overflow-x: hidden;
  padding-top: 20px;

}

.main {
  margin-left: 240px;
}

.center-in-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .main {
    margin-left: 0px;
  }

  section.nutri-kit-project {
    align-items: center;
    flex-direction: column;  
  }

  .blob-title:before {
    background-size: 350px;
    width: 350px;
    height: 350px;
  }

  .title-text {
    font-size: 40px;
  }

  .subtitle-text {
    font-size: 25px;
  }
  
}